li{
    display: inline;
    margin-left: 200px;
    margin-top: -100px;
}
a{

    font-size: 30px;
}
.a1{
    margin-left: 350px;
    padding: 50px;
}
.d1{
    padding: 20px;
    background-color: rgb(51, 233, 14);
}
.d2{
    width: 460px;
    margin-left: 350px;
}
h1{
    margin-left: 400px;
}
.p1{
    font-size: 20px;
}