li{
    display: inline;
    margin-left: 200px;
    margin-top: -100px;
}
a{

    font-size: 30px;
}
.a1{
    margin-left: 350px;
    padding: 50px;
}
.d1{
    padding: 20px;
    background-color: rgb(51, 233, 14);
}
.d2{
    width: 370px;
    background-color: rgba(0, 0, 0, 0.164);
}
.f1{
    padding: 10px;
}
.p1{
    font-size: 30px;
}